.video-block video{
    width: 50vw;
    height: 40vh;
}

@media screen and (max-width: 600px){
    .video-block video{
        width: 100% ;
        height: 40vh;
    }
    
}

@media screen and (max-width: 768px){
    h1 {
        font-size: calc((1vw + 1vh) * 2.6);
    }
    .video-block video{
        width: 100% ;
        height: 40vh;
    }
    
}